/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: dosis;
}

/* Set up basic styling */

html,body{
    height: 100vh;
    width: 100vw;
}

.pic{
    width: 100vw;
    height: 100vh;
}

.style-hover:hover{
    transition: transform 1s;
    transform: scale(1.1);
}

.head{
    position: fixed;
    top:0%;
    z-index: 10;
    width:100%;
    background: #dbd3d3;
    height:4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.header-nav{
    display: flex;
    padding: 0 1rem;
    border-radius: 5rem;
}

.logo{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap:0.5rem
}

.logoimg{
    height:6rem;
    border-radius: 0.5rem;
}

.logoname{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    letter-spacing: 0;
    font-weight: 700;
    color: black;
    padding: 0.5rem;
    padding-left: 0;
}

.header-links{
    display: flex;
    gap:0.6rem;
    margin-right: 2rem;
}

.header-links a{
    text-decoration: none;
    color: #fff;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    padding:0.3rem 0.5rem;
    background-color: rgb(26, 25, 25);
    border-radius: 0.5rem;
}

.header-links a:hover{
    transition:background-color 0.5s;
    text-decoration: none;
    color:black;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    padding:0.3rem 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.bgimg{
    position: fixed;
    height: 37rem;
    width: 100%;
    background: url("https://cdn.vox-cdn.com/thumbor/oVxByLo3H-cYEzgkxQguBUoUOxY=/0x0:1600x1200/1200x675/filters:focal(0x0:1600x1200)/cdn.vox-cdn.com/uploads/chorus_image/image/47679287/1G9A0404-2.0.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: bottom;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #32333467;
}

.content{
    width: 100%;    
    top:32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Dosis", sans-serif;
}

.search-bar input[type="text"] {
    position: absolute;
    top:-38.5%;
    left:25%;
    width: 50%;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 2rem; 
    border: none; 
    outline: none; 
    font-size: 1.1rem;
}

.heading{
    font-size: 2.5rem;
    color:white;
    margin-bottom:2rem;
}

.main-content{
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: "Dosis", sans-serif;
    padding:1.75rem;
}

.main-content-heading{
    font-size: 2.2rem;
}
.main-content-heading-description{
    color: rgb(76, 75, 75);
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.flat-grids{
    width:70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:auto;
    gap:1.5rem;
    padding: 1rem;
}

.flats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #dadada; */
}

.flat-img img{
    height:9rem;
    width:12rem;
    border-radius: 0.2rem;
    background-size: contain;
    background-position: center;
}

.flat-name{
    color: #000;
    font-weight: 600;
    font-size: large;
}

.login-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    transition: background-color 0.3s ease; /* Footer background color transition */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 1.1rem;
    border: 10px double grey;
    border-radius: 30px;
}

.reg{
    height: 2.5rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(40, 120, 240);
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-top:1rem;
}


h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.otp-container {
    display: none;
}

#otpBtn {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-container{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 80px;
    border: 10px double grey;
    border-radius: 30px;
}

.input-container{
    margin: 20px;
}
 
.form-container1 {
    background-color: whitesmoke;
    max-width: 600px;
    margin: auto;
    margin-top: 35px;
    padding: 50px;
    border: 10px double grey;
    border-radius: 30px;
}

.form-group1 {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    width: 100%;
    margin-top: 5px;
}
.auth a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    transition: color 0.3s ease; /* Link color transition */
} 

.auth a:hover {
    color: #222; /* Change link color on hover */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.room{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.work {
    background-image: linear-gradient(rgba(126, 225, 250, 0.5), rgba(122, 212, 250, 0.5)), url('https://images.unsplash.com/photo-1614586125858-e695dd97d1b6?auto=format&fit=crop&q=80&w=1806&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    width: 100%;
    background-position: center;
    color: black;
    text-align: center;
    padding: 120px;
  }
  
  .work h1{
    margin-bottom: 20px;
  }
  
  .work h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .work ol {
    list-style: decimal inside;
    padding-left: 0; /* Reset the left padding on the ordered list */
    display: inline-block; /* Make the list centered within the container */
  }
  
  .work li {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left; /* Left-align the text within the list items */
    font-weight: 500;
  }


   

    .profile-container {
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-container h2 {
      margin-top: 0;
      text-align: center;
      color: #333;
    }

    .profile-info {
      margin-bottom: 20px;
    }

    .profile-info label {
      display: block;
      font-weight: bold;
      color: #555;
    }

    .profile-info span {
      color: #333;
    }


  table {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the table horizontally and add some space around it */
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  td{
    color: black;
    font-size: 17px;
    font-weight: 900;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  .RoomBorder{
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1300px;
    margin: 0 auto;
    
    margin-top: 50px;
    
  }
  
  
  /* You can add more CSS rules as needed to further style your content */
  







/* Add responsive styles here */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav h1 {
        font-size: 1.5rem;
    }

    .auth {
        margin-top: 10px;
    }

    main {
        padding: 10px;
    }

    
}


@media screen and (max-width: 768px) {
    /* Adjust container width for smaller screens */
    .container {
        width: 80%;
        margin-top: 35px;
    }
}

@media screen and (max-width: 480px) {
    /* Adjust container width and font size for even smaller screens */
    .container {
        width: 90%;
        font-size: 14px;
        margin-top: 35px;
    }

    /* Center-align buttons */
    #otpBtn,
    button[type="submit"] {
        display: block;
        margin: 10px auto;
    }
}

/* Media queries for responsive design */

/* @media (max-width: 768px) {
    .login-container {
        max-width: 90%;
    }
} */

.pro{
    width: 100vw;
    height: 100vh;
}

.footerContainer{
    background-color: #111;
    width: 100%;
    /* padding: 100px 0px 10px 10px ; */
    margin-bottom: 0;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 15px;
    background-color: white;
    margin: 15px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover{
    color: rgb(151, 145, 145);
    transition: 0.5s;
}
.footerNav{
    margin: 40px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 30px;
    text-align: center;
    width: 100%;
    justify-content: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 5px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        /* margin: 10px; */
    }
}