<div class="head">
        <div class="header-nav">
            <div class="logo">
                <a href="/">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRqiqxxekGimA9N46SYnSjc0DxZUcWzWd02dX1P7pwDqFjLH22wEMcCfkaeTBKt7M_rqL7obDugyxihlwcJXnz6LKk15w=s2560"/ class="logoimg">
                </a>
                {{!-- <div class="logoname">BuddyFinder</div> --}}
            </div>
        </div>
        <div class="header-links">
            <a href="/" class="header-links-container style-hover">Home</a>
            <a href="/login" class="header-links-container login style-hover">Login</a>
            <a href="/register" class="header-links-container style-hover">Register</a>
        </div>
    </div>   
</div>