<header>
        <nav>
            <h1>BUDDY FINDER</h1>
            <div class="auth">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
</header> 