{{>header}}
<body>

    <main class="pic">
   <nav>
    <div class="after-head">
        <div class="auth head header-links">
                <a href="/room">Add Room</a>
                <a href="/showRoom">Show Rooms</a>
                <a href="/roomate">Add as a Roomate</a>
                <a href="/showRoomate">Show Available Roomate</a>
                <a href="/profile">My Profile</a>
            </div>
    </div>
            
            
    </nav>
    
     {{>content}}
    {{!-- <div>
        <div class="box box1"></div>
        <div class="box">
            <h2>Why use BUDDY FINDER?</h2>
            <br>
            <p>Buddy Finder Is A One-Stop Destination For Anyone Looking Out For Roommates, Flatmates, Co-Living Spaces Or PGs. We Understand That Finding The Right Living Situation Can Be A Challenge, Which Is Why We Make The Process Easy And Stress-Free. Whether You're A Student Searching For A Roommate Or A Young Professional Seeking A Flatmate, Our Platform Provides A Streamlined And Efficient Way To Connect With Like-Minded Individuals In Search Of A Shared Living Space.
                <br>

Our Platform Allows You To Browse Through A Wide Range Of Listings For Co-Living Spaces, PGs, And Flats, And Find The Perfect Match For Your Lifestyle And Preferences. So, Why Wait? Start Your Search Today And Find Your Ideal Living Situation With FindMyRoom!</p>
        </div>
    </div>
    </main> --}}

    <div class="work">
        <h1>HOW IT WORKS</h1>
        <div>
            <h3>For Room Owner</h3>
            <ol>
                <li>User have to sign up with their mail and then login</li>
                <li>Fill a form with basic details about your room</li>
                <li>That's it your listing is in front of thousands of seekers</li>
            </ol>
        </div>
        <br>
        <br>
        <div>
            <h3>For Room Seeker</h3>
            <ol>
                <li>User have to sign up with their mail and then login</li>
                <li>Find the right post or listing</li>
                <li>Contact the Roomate or LandLord to close the deal</li>
            </ol>
        </div>
    </div>    
    {{>footer}}
    {{!-- <footer>
        <div class="footer-content">
            <p>&copy; 2023 Find a Roommate</p>
        </div>
    </footer> --}}
</body>
</html>
