{{>header}}
<body class="pic">
   {{>navvbar}}
    
    <main> 
    {{!-- <div id="x">
        <h2>Unlock your Ideal living situation:Find Your Perfect Roommate Match!</h2>
    </div> --}}
    <div>
        <div class="box box1"></div>
        <div class="box">
            <h2>Why use BUDDY FINDER?</h2>
            <br>
            <p>Buddy Finder Is A One-Stop Destination For Anyone Looking Out For Roommates, Flatmates, Co-Living Spaces Or PGs. We Understand That Finding The Right Living Situation Can Be A Challenge, Which Is Why We Make The Process Easy And Stress-Free. Whether You're A Student Searching For A Roommate Or A Young Professional Seeking A Flatmate, Our Platform Provides A Streamlined And Efficient Way To Connect With Like-Minded Individuals In Search Of A Shared Living Space.
                <br>

Our Platform Allows You To Browse Through A Wide Range Of Listings For Co-Living Spaces, PGs, And Flats, And Find The Perfect Match For Your Lifestyle And Preferences. So, Why Wait? Start Your Search Today And Find Your Ideal Living Situation With FindMyRoom!</p>
        </div>
    </div>

    
    </main>
    
    {{!-- <footer>
        <div class="footer-content1">
            <p>&copy; 2023 Find a Roommate</p>
        </div>
    </footer> --}}
</body>
</html>
