{{>header}}
<body>
  <div class="pro">
      <div class="profile-container">
    <h2>User Profile</h2>
    <div class="profile-info">
      <label for="name">Name:</label>
      <span id="name">Yuvraj Singh</span>
    </div>
    <div class="profile-info">
      <label for="email">Email:</label>
      <span id="email">yuvrajsingh1619@gmail.com</span>
    </div>
    <div class="profile-info">
      <label for="mobile">Mobile Number:</label>
      <span id="mobile">8696056608</span>
    </div>
  </div>

  {{>footer}}
  </div>
</body>
</html>
