{{>header}}
<body class="pic">
    <div class="form-container1">
        <h2>Add New Room</h2>
        <form action="/new" method="post">
            <div class="form-group1">
                <label for="title">Title:</label>
                <input type="text" id="title" name="Title" required>
            </div>
            <div class="form-group1">
                <label for="location">Location:</label>
                <input type="text" id="location" name="Location" required>
            </div>
            <div class="form-group1">
                <label for="price">Price:</label>
                <input type="number" id="price" name="Price" required>
            </div>
            <div class="form-group1">
                <label for="Number">Whatsapp Number:</label>
                <input type="number" id="Number" name="Number" required>
            </div>
            <div class="form-group1">
                <label for="description">Description:</label>
                <textarea id="description" name="Description" required></textarea>
            </div>
            {{!-- <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div> --}}
            
            {{!-- <button type="submit" class="room" value="Room">Submit</button> --}}
            <input type="submit" class="room" >
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>